.Trams {
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: 30rem;
  justify-content: center;
  font-family: Modak, cursive;
  /*font-family: Bangers, cursive;*/
  /*font-family: 'Raleway Dots', cursive;*/
}
