.Weather {
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: 30rem;
  justify-content: center;
  font-family: 'Modak', cursive;
  /*font-family: 'Raleway Dots', cursive;*/
}

.Weather--cold {
  font-family: 'Freckle Face', cursive;
}

.Weather--hot {
  font-family: 'Monoton', cursive;
}
